{% extends "baselogado.html" %}

{% block content %}


<body class="bg-light">

    <!-- CONTAINER -->
    <div class="container mt-5">

        <!-- TÍTULO -->
        <div class="text-center mb-5">

            <h1 class="fw-bold">
                Controle e gerenciamento do sistema
            </h1>

            <p class="text-muted">
                SEJA BEM-VINDO
            </p>

        </div>

        <!-- CARDS -->
        <div class="row g-4">

            <!-- CLIENTES -->
            <div class="col-md-4">

                <div class="card border-0 shadow rounded-4 h-100">

                    <div class="card-body">

                        <div h class="d-flex justify-content-between align-items-center">

                            <div>

                                <p class="text-muted mb-1 negri">
                                    Clientes
                                </p>

                            </div>

                            <div class="bg-primary text-white rounded-4 p-3">
                                <a href="{{ url_for('listar_clientes') }}" class="btn  text-white text-decoration-none">

                                    <i class="bi bi-people-fill fs-2">{{ total_clientes }}</i>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- ORDENS -->
            <div class="col-md-4">

                <div class="card border-0 shadow rounded-4 h-100">

                    <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center">

                            <div>

                                <p class="text-muted mb-1">
                                    Ordens de Serviço
                                </p>

                            </div>

                            <div class="bg-success text-white rounded-4 p-3">

                                <a href="{{ url_for('listar_os') }}" class="btn  text-white text-decoration-none">

                                    <i class="bi bi-clipboard-check-fill fs-2">{{ total_registro_os }}</i>

                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- FUNCIONÁRIOS -->
            <div class="col-md-4">

                <div class="card border-0 shadow rounded-4 h-100">

                    <div class="card-body">

                        <div class="d-flex justify-content-between align-items-center">

                            <div>

                                <p class="text-muted mb-1">
                                    Funcionários
                                </p>
                            </div>

                            <div class="bg-dark text-white rounded-4 p-3">
                                <a href="{{ url_for('listar_clientes') }}" class="btn  text-white text-decoration-none">

                                    <i class="bi bi-person-badge-fill fs-2">{{ total_funcionarios }}</i>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- RELATORIO DE CLIENTES -->
        <div class="mt-5">

            <h3 class="fw-bold mb-4">
                Relatório de clientes
            </h3>

            <div>

                <table class="table">
                        {% if clientes %}
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Possui OS</th>
                            <th scope="col">Email</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for info in clientes %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ info.nome }}</td>
                            <td>{{ info.telefone }}</td>
                            <td>{% if info.registro_os %} Sim {% else %} Não {% endif %}</td>
                            <td>{{ info.email }} </td>

                        </tr>
                        {% endfor %}
                        {% else %}
                        <div class="alert alert-info rounded-3">

                                <i class="bi bi-info-circle-fill me-2"></i>

                                Nenhuma cliente cadastrado.
                        </div>
                        {% endif %}
                    </tbody>
                </table>

            </div>

            <!-- RELATORIO DE OS -->
            <div class="mt-5">

                <h3 class="fw-bold mb-4">
                    Relatório de OS
                </h3>

                <div>

                    <table class="table">
                            {% if relatorio %}
                        <thead>
                            <tr>
                                <th scope="col">OS</th>
                                <th scope="col">Cliente</th>
                                <th scope="col">Funcionário</th>
                                <th scope="col">Ordens de Serviço</th>
                                <th scope="col">Veículo</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for ordem in relatorio %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ ordem.clientes.nome }}</td>
                                <td>{{ ordem.funcionarios.nome }}</td>
                                <td>{{ ordem.id }}</td>
                                <td>{{ ordem.veiculos.marca }} - {{ ordem.veiculos.modelo }}</td>
                                <td>{{ ordem.veiculos.placa }}</td>
                                <td>{{ ordem.status }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <div class="alert alert-info rounded-3">

                                <i class="bi bi-info-circle-fill me-2"></i>

                                Nenhuma OS cadastrada.
                            {% endif %}

                            </div>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

        <!-- JS Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



        {% endblock %}